header {
    background-color: #85afae;
    border-radius: 25px;
    height: 100px;
}
h1 {
    float: left;
    margin-top: 25px;
    margin-left: 20px;
    color: rgb(14, 14, 14);
    font-family: 'Times New Roman', Times, serif;
    text-shadow: 1px 1px 1px rgb(54, 54, 54);
}
#header-div {
    padding-top: 32px;
    margin-left: 10%;
}
#links {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
#links li {
    display: inline;
    float: left;
}


#links li a {
    display: block;
    text-decoration: none;
    color: rgb(14, 14, 14);
    font-weight: 600;
    font-size: 18px;
    cursor: pointer;
    padding: 5px;
    font-family: 'Times New Roman', Times, serif;

}
#links li a:hover {
    text-decoration: underline;
}